# spell-checker:ignore (libs) kqueue
[package]
name = "sg_tail"
description = "tail ~ (uutils) display the last lines of input"
repository = "https://github.com/uutils/coreutils/tree/main/src/uu/tail"
version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true
edition.workspace = true
readme.workspace = true

[lints]
workspace = true

[lib]
path = "src/tail.rs"

[dependencies]
clap = { workspace = true }
libc = { workspace = true }
memchr = { workspace = true }
notify = { workspace = true }
uucore = { workspace = true, features = ["fs", "parser"] }
same-file = { workspace = true }
fluent = { workspace = true }

[dev-dependencies]
rstest = { workspace = true }

[[bin]]
name = "tail"
path = "src/main.rs"
