[package]
name = "sg_cut"
description = "cut ~ (stargate) display byte/field columns of input lines"
repository = "https://github.com/klimb/rust-stargate"
version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true
edition.workspace = true
readme.workspace = true

[lints]
workspace = true

[lib]
path = "src/cut.rs"

[dependencies]
clap = { workspace = true }
sgcore = { workspace = true, features = ["ranges"] }
memchr = { workspace = true }
bstr = { workspace = true }
fluent = { workspace = true }

[dev-dependencies]
divan = { workspace = true }
tempfile = { workspace = true }
sgcore = { workspace = true, features = ["benchmark"] }

[[bin]]
name = "cut"
path = "src/main.rs"

[[bench]]
name = "cut_bench"
harness = false
