[package]
name = "sg_expr"
description = "expr ~ (stargate) display the value of EXPRESSION"
repository = "https://github.com/klimb/rust-stargate"
version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true
edition.workspace = true
readme.workspace = true

[lints]
workspace = true

[lib]
path = "src/expr.rs"

[dependencies]
clap = { workspace = true }
num-bigint = { workspace = true }
num-traits = { workspace = true }
onig = { workspace = true }
sgcore = { workspace = true, features = ["i18n-collator"] }
thiserror = { workspace = true }
fluent = { workspace = true }

[[bin]]
name = "expr"
path = "src/main.rs"
