[package]
name = "sg_split"
description = "split ~ (uutils) split input into output files"
repository = "https://github.com/klimb/rust-stargate"
version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true
edition.workspace = true
readme.workspace = true

[lints]
workspace = true

[lib]
path = "src/split.rs"

[dependencies]
clap = { workspace = true }
memchr = { workspace = true }
sgcore = { workspace = true, features = ["fs", "parser"] }
thiserror = { workspace = true }
fluent = { workspace = true }

[[bin]]
name = "split"
path = "src/main.rs"

[dev-dependencies]
divan = { workspace = true }
tempfile = { workspace = true }
sgcore = { workspace = true, features = ["benchmark"] }

[[bench]]
name = "split_bench"
harness = false
